#filters {
    overflow: hidden;
    padding-inline: 3% !important;
    background-color: rgba(255, 222, 200, 0.342);
    backdrop-filter: blur(30px);
    position: fixed;
    z-index: 1;
    display: none;
}

.filterProf{
    display: flex;
    flex-direction: row;
    padding-block: 1%;
}

.filterSalas {
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-width: 360px;
    align-items: center;
    justify-content: space-between;
}

.filterSalas span {
    margin-inline: 2px;
}

.salasOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.salasOptions select {
    background-color: rgba(87, 43, 11, 0.199);
    backdrop-filter: blur(30px);
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;

}

.salasOptions select * {
    background-color: rgba(87, 43, 11, 1);
}

.salasButtons {
    display: flex;
    width: 55%;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#inputFilterMat {
    margin-bottom: 10px;
}

.blockFilterButtons {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.blockButton h3{
    font-size: 13px !important;
}

.blockButton {
    width: fit-content !important;
    height: fit-content !important;
    padding-inline: 10px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 2% !important;
}

.blockButton:hover {
    transform: scale(1) !important;
}

.outerBlock {
    padding-inline: 0px !important;
    margin: 0px !important;
    backdrop-filter: blur(150px);
}

.turno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.075);
    background-color: rgba(87, 43, 11, 0.199);
}

.semestre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    height: auto;

    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.5);
    -moz-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    border: 2px solid rgba(255, 255, 255, 0.075);
    background-color: rgba(87, 43, 11, 0.199);
}

.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 10px;
    border-width: 0px 2px 0px 0px;
    border-color: rgba(255, 255, 255, 0.596);
    border-style: solid;
}

.detail p {
    border-width: 2px 0px 0px 0px;
    border-color: rgba(255, 255, 255, 0.596);
    border-style: solid;
    padding-block: 20px;
    margin: 0px;
}

/* .detail h2 {
    border-width: 0px 0px 2px 0px;
    border-color: rgba(255, 255, 255, 0.596);
    border-style: solid;
    margin: 0px;
    padding-block: 15px;
} */

/* .separator {
    width: 2px;
    height: 100px;
    background-color: white;
} */