.mainBlock p, .mainBlock h1, .mainBlock h2, .mainBlock h3, .mainBlock a{
    color: white;
    text-decoration: none;
}

.blockMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockMenu img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    margin-block: 5%;
    object-fit: cover;
}

.perfilDetailsModule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 220px;
    min-height: 350px;
    padding: 10%;
    transition: all 0.2s;
    transition-timing-function: ease;
    z-index: 2;
}

.perfilDetailsModule:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: rgba(46, 34, 28, 0.466);
}


.blockGradeFavoritos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 940px;
    overflow: hidden;
    margin-inline-start: 30px;
}

.blockGradeFavoritos h1 {
    font-size: 25px;
}

.blockMaterias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.blockMateria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    min-width: 220px;
    min-height: 400px;
    max-width: 320px;
    padding-inline: 2%;
    padding-block: 1%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.075);
    margin-top: 5%;
    margin-inline: 5%;
}

.blockMateria p, .blockMateria h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.blockMateriaTitle{
    min-height: 20%;
    min-width: 90%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.185);
    background-color: rgba(117, 99, 88, 0.486);
    border-width: 3px;
    padding: 10px;
}

.materiaDetailsModule {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.materiaDetailsModule p {
    margin-inline: 5%;
}

.professorDetailsModule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.professorDetailsModule p {
    margin-inline: 5%;
}

.blockButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blockButtons h3 {
    margin-inline: 5%;
}