p, a, h1, h2, h3{
    color: white;
    text-decoration: none;
}

.blockMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    width: fit-content;
    margin-right: 1%;
}

.blockMenu img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    margin-block: 5%;
    object-fit: cover;
}

#profileBlock {
    margin: 0px !important;
    padding: 0px !important;
}

.perfilDetailsModule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 220px;
    min-height: 350px;
    padding: 10%;
    transition: all 0.2s;
    transition-timing-function: ease;
    z-index: 2;
    margin: 0px;
    padding: 0px;
}

.perfilDetailsModule:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: rgba(46, 34, 28, 0.466);
}

.blockGradeFavoritos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blockGradeFavoritos h1 {
    font-size: 25px;
}

.blockButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blockButtons h3 {
    margin-inline: 5%;
}