body {
    background-image: url("../Media/bg1.jpeg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

a, p, h1, h2, h3, input, label{
    color: rgb(253, 236, 217);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 97vh;
    flex-direction: column;
}