body {
    background-image: url("../Media/bg1.jpeg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

a, p, h1, h2, h3, input, label{
    color: rgb(253, 236, 217);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 97vh;
    flex-direction: column;
}

.mainBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    min-height: 90vh;
    flex-wrap: wrap;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.5);
    -moz-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    border: 2px solid rgba(255, 255, 255, 0.075);
    background-color: rgba(87, 43, 11, 0.199);
    backdrop-filter: blur(30px);
}