body {
    background-image: url("../Media/bg1.jpeg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

a, p, h1, h2, h3, input, label, ul, span{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 97vh;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.outerBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding-block: 1%;
    padding-inline: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.5);
    -moz-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    border: 2px solid rgba(255, 255, 255, 0.075);
    background-color: rgba(87, 43, 11, 0.199);
    backdrop-filter: blur(30px);
    margin-inline: 2%;
    margin-bottom: 1%;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.205);
    -moz-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.205);
    box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.205);
    border: 2px solid rgba(255, 255, 255, 0.075);
    margin-top: 5%;
    background-color: rgba(87, 43, 11, 0.199);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    flex-wrap: wrap;
}

.blockButton {
    width: 220px;
    z-index: 1;
    user-select: none;
}

.block.blockButton {
    transition: all 0.2s;
    transition-timing-function: ease-out;
}

.block.blockButton:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: rgba(56, 26, 2, 0.377);
}


.footer a, .footer h1{
    text-decoration: none;
    margin-inline: 2%;
}

.footer img {
    max-height: 20px;
    object-fit: contain;
    overflow: hidden;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.5);
    -moz-box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    box-shadow: 0px 4px 17px -1px rgba(31, 15, 0, 0.50);
    border: 2px solid rgba(255, 255, 255, 0.075);
    background-color: rgba(87, 43, 11, 0.199);
    backdrop-filter: blur(30px);
    height: 3vh;
    margin-block: 1%;
    padding-inline: 0.5%;
    padding-block: 1%;
    text-align: center;
    min-width: 300px;
}

.blockMaterias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.blockMateria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-block: 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.075);
    margin-top: 20px;
    margin-inline: 10px;
    width: fit-content;
}

.blockMateria p, .blockMateria h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.blockMateriaTitle{
    max-width: 220px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.185);
    background-color: rgba(117, 99, 88, 0.486);
    margin-inline: 10%;
}

.blockMateriaTitle h2 {
    font-size: 15px !important;
    margin-inline: 10px;
}

.materiaDetailsModule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.materiaDetailsModule p {
    margin-inline: 5%;
}

.professorDetailsModule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.professorDetailsModule p {
    margin-inline: 5%;
}

input {
    transition: all .2s;
    background-color: rgba(118, 85, 59, 0.473);
    text-align: center;
    border: 2px inset transparent;
    box-shadow: inset 2px 2px 10px rgba(118, 73, 59, 0.322);
    border-radius: 6px;
    color: white;
    padding: 3%;
    width: 90%;
    outline: none;
}

input::placeholder{
    color: white;
}

input:focus {
    border-color: rgba(211, 100, 10, 0.63);
}